/* CALL TO ACTION */
.call-to-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4em;

  background-color: var(--signup-button-color);
  border-radius: 0.5em;
  padding: 2em 3em;
  margin: auto;
}

.call-to-action .sign-up {
  border: 0.125rem var(--hero-header-color) solid;
  margin: 0.8em 0;
  width: 8em;
}

.cta-header {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--hero-header-color);
}
