/* CALL TO ACTION */
.call-to-action {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 16%;
  
  background-color: var(--signup-button-color);
  padding: 2% 4%;
  border-radius: 8px;
  margin: 2% 4%;
}

.call-to-action .sign-up {
  border: 2px var(--hero-header-color) solid;
  margin: 2% 0px;
  width: 128px;
}

.cta-header {
  font-size: 24px;
  font-weight: 700;
  color: var(--hero-header-color);
}
