html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  margin: 0; /* removes the extra bg space */
  padding: 0;

  background-color: var(--header-footer-bg);
}

a:hover {
  opacity: 0.9;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* ///////////////////////////////// */
/* ///////////// GENERAL /////////// */
/* ///////////////////////////////// */

.btn-signup {
  width: 8em;
  padding: 0.5em 1em;
  margin: 1em 0;

  font-size: 1rem;
  font-weight: 700;

  border: none;
  border-radius: 0.5em;

  background-color: var(--signup-button-color);
  color: var(--hero-header-color);
}

.secondary-text {
  font-size: 1.125rem;
  text-align: center;

  margin: 0;

  color: #e5e7eb;
}

/* ///////////////////////////////// */
/* ///////////// CONTAINER ///////// */
/* ///////////////////////////////// */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* ///////////////////////////////// */
/* ///////////// HEADER //////////// */
/* ///////////////////////////////// */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;

  width: 100%;
  padding: 0 12%;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: 700;

  color: var(--hero-header-color);
}

.header-links {
  display: flex;
  gap: 2em;

  margin: 0;
  padding: 0;

  list-style: none;
}

.header-links a {
  text-decoration: none;
}

/* ///////////////////////////////// */
/* ///////////// FOOTER //////////// */
/* ///////////////////////////////// */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1em;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  margin-bottom: 1rem;
}

.socials:hover {
  opacity: 0.7;
}

@media screen and (max-width: 320px) {
  .header {
    gap: 0.5em;
    padding: 0 4%;
  }

  .header-logo {
    font-size: 1.2rem;
  }

  .header-links {
    gap: 0.5em;
  }

  .header-links .secondary-text {
    font-size: 0.8rem;
  }
}
