/* INFORMATION */
.mid {
  /* width: 100%; WHY NOT WORKY*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--hero-header-color);

  padding: 48px 0;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-header {
  font-size: 36px;
  font-weight: 900;
  color: var(--header-footer-bg)
}

.images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px;

  padding: 48px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 176px;
  text-align: center;
}

.images img {
  border: var(--signup-button-color) solid 4px;
  height: 144px;
  border-radius: 16px;
  margin: 8px;
}

.mid .information .secondary-text {
  color: var(--header-footer-bg);
}