/* MAIN CONTENT */
/* div 1 */
/* .main {
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 2em;

  background-color: var(--header-footer-bg);
} */

.main-sub {
  grid-column: 1 / 2;
  justify-self: start;

  display: flex;
  flex-direction: column;
  width: 31em;
}

.main-text {
  color: var(--hero-header-color);
  font-size: 3rem;
  font-weight: 900;
}

.main-sub div {
  display: flex;
  flex-direction: column;
}

.main-img {
  grid-column: 2 / 3;

  display: flex;
  height: 100%;

  background-color: gray;
}
