/* MAIN CONTENT */
/* div 1 */
.main {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin: 128px 320px;
  margin: 5% 8%;
  gap: 16px;

  background-color: var(--header-footer-bg);
}

.main-sub {
  display: flex;
  flex-direction: column;
  width: 464px;
  width: 50%;
}

.main-text {
  color: var(--hero-header-color);
  font-size: 48px;
  font-weight: 900;
}

.main-sub div {
  display: flex;
  flex-direction: column;
}

.main img {
  background-color: gray;
  margin-top: auto;
  width: 492px;
  width: 50%;
  height: 240px;
  margin-bottom: auto;
}