/* ///////////////////////////////// */
/* ///////////// MAIN ////////////// */
/* ///////////////////////////////// */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;

  width: 100%;
  padding: 8% 12%;
}

.main-left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.main-left .secondary-text {
  text-align: left;
}

.main-hero {
  font-size: 3rem;
  font-weight: 900;

  margin: 0;

  color: var(--hero-header-color);
}

.main-left div {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.main-right {
  align-self: stretch;

  display: flex;

  width: 50%;

  background-color: gray;
}

@media screen and (max-width: 900px) {
  .main-left {
    width: 100%;
  }

  .main-right {
    width: 100%;
  }
}
