/* TESTIMONIALS */
.customer-says {
  display: flex;
  flex-direction: column;
  background-color: var(--testimonial-bg);
  align-items: center;
}

.testimonial {
  width: 70%;
  padding: 6em;
  display: flex;
  flex-direction: column;
}

.quote-text {
  text-align: justify;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 300;
}

.quote-owner {
  align-self: flex-end;
  font-weight: 700;
  margin: 0.81em 0 0 0;
}
