/* TESTIMONIALS */
.customer-says {
  width: 100%;
  margin: 4%;
  display: flex;
  flex-direction: column;
  background-color: var(--testimonial-bg);
  align-items: center;
}

.testimonial {
  width: 70%;
  padding: 8%;
  display: flex;
  flex-direction: column;
}

.quote-text {
  text-align: justify;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quote-owner {
  align-self: flex-end;
  font-weight: 700;
  margin: 2% 0 0 0;
}